.rotatingImg {
  animation: rotation 4s infinite linear;
  -webkit-animation: rotation 4s infinite linear;
  -moz-animation: rotation 4s infinite linear;
  -o-animation: rotation 4s infinite linear;
  -ms-animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
