@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@font-face {
  font-family: "Mechanismo";
  src: url("./assets/MechanismoRegular.otf") format(openType);
}

:root {
  font-family: "Comic Neue", cursive;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #020012;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  scrollbar-width: none;
  background-color: #040015 !important;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
